*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header,.section1{
    background-color: #1f2937;
    color: white;
    padding:20px 150px;
}

.section1{
    min-height: 300px;
}

.section1 h3{
    font-size: 48px;
    margin: 10px;
}
.section1 div, button{
    margin: 10px;
}
.left-text{
    padding: 10px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    padding:20px 150px ;
}

.section2 h3{
    font-size: 36px;
    font-weight: bolder;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    margin: 10px;
}
.img-text{
    margin-top: 200px;
}
.header,.section1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-links a{
    padding: 5px;
}

.img{
    background-color:lightgray;
    color: white;
    width: 400px;
    height: 200px;
    flex-shrink: 0;
}

.quote{
    background-color: #e5e7eb;
    margin: 10px;
    height: fit-content;
}
.call-to-action{
    background-color: #3882f6;
    color: white;
    display: flex;
    flex-direction: row;
}

button{
    background-color: #3882f6;
    border:5px solid #3882f6;
    border-radius: 10px;
}
.call-to-action button{
    border:2px solid white;
    border-radius: 5px; 
    color: white
}

.logo{
    margin-left: 30px;
}

.right-links{
    margin-right: 20px;
}